@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    border: 1px solid grey;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

#content {
    width: 100%; 
}

.scoreBoard {
    padding: 10px;
    font-size: 20px;
}

.fade-away {
    position: absolute;
    text-align: center;
    display: flex;
    width: 700px;
    height: 50px;
    top: calc(50% - 75px); /* 50% of page height minus half of element's height */
    left: calc(50% - 350px); /* 50% of page width minus half of element's width */
    justify-content: center;
    align-items: center;
    animation: fadeMoveUp 2s ease-out forwards;
    animation-delay: 0.5s; /* Optional delay */
}

@keyframes fadeMoveUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px); /* Adjust the value as needed */
    }
}
